/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* The default font size of the browser is 16px, so if we want 1rem to be equal to 10px, we divide 10px by 16px = 62.5% */
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: rgb(33, 33, 33);
}

/* ul {
  list-style-type: none;
} */

a,
a:visited {
  text-decoration: none;
}

/* opening screen */
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* gameboard screen */
/* tools side menu */
.side-menu {
  background-color: rgb(33, 33, 33);
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.side-menu > * {
  margin: 5rem;
}
.shovel,
.axe,
.pickaxe {
  width: 8vw;
  height: 8vh;
  border: 1px solid rgb(255, 255, 255);
  background-size: cover;
  cursor: pointer;
}
.shovel:hover,
.axe:hover,
.pickaxe:hover {
  opacity: 0.5;
}
.tools > * {
  margin: 3rem;
  width: 5vw;
  height: 9vh;
}
.shovel {
  background-image: url("../assets/tools/shovel.png");
}
.axe {
  background-image: url("../assets/tools/axe.png");
}
.pickaxe {
  background-image: url("../assets/tools/pickaxe.png");
}
.inventory {
  width: 5vw;
  height: 5vh;
  background-color: sandybrown;
}

/* game main screen */
.game-container {
  display: flex;
  height: 100vh;
}
.game-board {
  margin: 1rem;
  width: 80vw;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

.sky {
  width: 4vw;
  height: 7vh;
  background-color: rgb(74, 173, 206);
}
.sky:hover {
  border: 1px solid black;
}
.cloud {
  background-color: #fff;
}
.wood {
  background-image: url("../assets/cells/wood.png");
}
.tree {
  background-image: url("../assets/cells/tree.png");
}
.soil {
  background-image: url("../assets/cells/soil.png");
}
.sand {
  background-image: url("../assets/cells/sand.png");
}
.stone {
  background-image: url("../assets/cells/stone.png");
}
